body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(img/logback.jpg);
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.container {
    background-color: rgba(255, 255, 255, 0.252);
    width: 400px;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    color: #040404;
}

.input-text {
    position: relative;
    border-bottom: 2px solid #1E9AFE;
    margin: 15px 0;
}

.input-text label {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    color: #60DFCD;
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease;
}

.input-text input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
}

.input-text input:focus~label,
.input-text input:focus~label {
    font-size: 0.8rem;
    top: 10px;
    transform: translateY(-120%);
}

.forget label {
    display: flex;
    align-items: center;
}

.forget p {
    margin-left: 8px;
}

.container a {
    color: #fff;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
    color: #60DFCD;
}

button {
    background: #fff;
    color: #60DFCD;
    font-weight: 600;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
}

button:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.15);
    border-color: #fff;
}

.register {
    text-align: center;
    margin-top: 30px;
    color: #fff;
}

.slideshow-container {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}