html {
  scroll-behavior: smooth;
  transition: all 0.5s ease;
  max-width: 100vw;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

#bg1 {
  z-index: -1;
}

.form1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 768px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px #00000044;
  padding: 30px;
  min-width: 500px;
  max-width: 500px;
  max-height: 600px;
}

.form2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px #00000044;
  padding: 30px;
  min-width: 500px;
  max-width: 500px;
  max-height: 600px;
}

.form3 {
  position: relative;
  margin: auto;
  width: 397px;
  height: 466px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.ok {
  padding: 5px;
}

#socials {
  display: flex;
  flex: row;
  gap: 10px;
  margin: 10px;
}

.divc {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100vw;
  padding: 50px;
  background: url(img/background.jpg);
  background-size: cover;
  gap: 400px;
}

.divc form {
  background-color: rgba(255, 255, 255, 0.455);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-height: 100vh; */
}

.tbox {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.tbox div {
  min-width: 600px;
  max-width: 600px;
  border: 1px solid #71717158;
  border-radius: 10px;
  padding: 30px;
}

.text1 {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 70vw;
}

.text1 h1 {
  margin: 40px;
}

.text1 p {
  color: gray;
}

.text1 button {
  margin: 30px;
  background-color: #cdc4d4;
  padding: 10px;
  border-radius: 30px;
}

button {
  border: 0.5px solid gray;
  box-shadow: 0px 0px 5px 1px #00000044;
}

footer {
  background: linear-gradient(359deg, #60dfcd 0%, #1e9afe 100%);
  padding: 10px;
}

.socialsf {
  display: flex;
  flex-direction: row;
}

.img-circle {
  border-radius: 50%;
  object-fit: cover;
  width: 40px;
  height: 40px;
}

.categories {
  text-align: center;
  margin-bottom: 30px;
}

#shop {
  display: flex;
  margin-bottom: 60px;
  align-items: center;
  flex-direction: column;
}

#shop .shop a .itemcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 0px 5px 1px #00000044;
  padding: 10px;
  text-align: center;
  min-width: 240px;
  min-height: 500px;
  border-radius: 5px;
  justify-content: center;
}

.itemcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 0px 5px 1px #00000044;
  padding: 10px;
  text-align: center;
  width: 365px;
  height: 400px;
  border-radius: 5px;
  justify-content: space-between;
}

.itemcard:hover {
  transition: all 0.5s ease;
  filter: opacity(70%);
}

.shop {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
  flex-wrap: wrap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 2000px;
  position: relative;
  margin: 15px 6px 0 6px;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  transition: all 0.5s ease-in-out;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active1 {
  background-color: #717171;
  width: 70px;
  border-radius: 15px;
}

.active {
  background-color: #717171;
  border-radius: 15px;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

.text-wrapper-5 {
  width: 100%;
  height: 100%;
}

.frame .div-wrapper:hover {
  background-color: #b9a0d1;
}

.trenddiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 40px;
  position: relative;
  background-color: #ffffff;
}

.trenddiv .text-wrapper {
  position: relative;
  width: 365px;
  height: 77px;
  margin-top: -1px;
  font-family: "Arial-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 14.4px;
}

.imgtrend img {
  object-fit: cover;
  aspect-ratio: 1/1;
}

.trenddiv .imgtrend {
  display: flex;
  width: 1390px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.trenddiv .img {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 4px #00000040;
  object-fit: cover;
}
