.bgdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: url(img/background.jpg);
  background-size: cover;
  min-height: 100vh;
}
.frame {
  position: relative;
  margin: auto;
  width: 737px;
  height: 466px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.frame .create-acxount-bg {
  position: absolute;
  width: 429px;
  height: 466px;
  top: 0;
  left: 308px;
  background-color: #ffffff;
}

.frame .login {
  position: relative;
  width: 246px;
  height: 347px;
  top: 70px;
  left: 94px;
}

.frame .text-wrapper {
  position: absolute;
  top: 0;
  left: 83px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .social-media {
  position: absolute;
  width: 96px;
  height: 28px;
  top: 48px;
  left: 73px;
}

.frame .twitter {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 0;
  left: 0;
  border-radius: 14px;
  border: 1px solid;
  border-color: #c4c4c4;
}

.frame .img {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 1px;
  left: 1px;
}

.frame .facebook {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 0;
  left: 34px;
  border-radius: 14px;
  border: 1px solid;
  border-color: #c4c4c4;
}

.frame .facebook-2 {
  position: absolute;
  width: 7px;
  height: 11px;
  top: 7px;
  left: 10px;
}

.frame .linkedin {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 0;
  left: 68px;
  border-radius: 14px;
  border: 1px solid;
  border-color: #c4c4c4;
}

.frame .linkedin-2 {
  position: absolute;
  width: 10px;
  height: 9px;
  top: 8px;
  left: 8px;
}

.frame .div {
  position: absolute;
  top: 116px;
  left: 39px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #9a9a9a;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 14px;
  white-space: nowrap;
}

.frame .name {
  position: absolute;
  width: 242px;
  height: 36px;
  top: 70px;
  left: 0;
  background-color: #f4f8f5;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.frame .name1 {
  position: absolute;
  width: 242px;
  height: 36px;
  top: 70px;
  left: 0;
  background-color: #f4f8f5;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.frame .input {
  font-size: 12px;
  text-align: center;
  border: none;
  width: 100%;
  height: 100%;
}

.frame .img-2 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 10px;
  left: 15px;
}

.frame .user {
  position: absolute;
  width: 242px;
  height: 36px;
  top: 115px;
  left: 0;
  background-color: #f4f8f5;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.frame .mail {
  position: absolute;
  width: 242px;
  height: 36px;
  top: 257px;
  left: 0;
  background-color: #f4f8f5;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.frame .mail1 {
  position: absolute;
  width: 242px;
  height: 36px;
  top: 209px;
  left: 0;
  background-color: #f4f8f5;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.frame .password {
  position: absolute;
  width: 242px;
  height: 36px;
  top: 161px;
  left: 0;
  background-color: #f4f8f5;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.frame .password1 {
  position: absolute;
  width: 242px;
  height: 36px;
  top: 119px;
  left: 0;
  background-color: #f4f8f5;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.frame .confirm {
  position: absolute;
  width: 242px;
  height: 36px;
  top: 209px;
  left: 0;
  background-color: #f4f8f5;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.frame .forget {
  margin-top: 20px;
  position: absolute;
  width: 242px;
  height: 36px;
  top: 163px;
  left: 0;
  text-align: center;
  font-weight: 10;
  font-size: small;
  cursor: pointer;
}

.frame .text-wrapper-2 {
  position: absolute;
  top: 11px;
  left: 41px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #9a9a9a;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .lock {
  position: absolute;
  width: 16px;
  height: 18px;
  top: 9px;
  left: 15px;
}

.frame .sign-in-btn {
  position: absolute;
  width: 158px;
  height: 39px;
  top: 308px;
  left: 42px;
  background-color: #38b593;
  border-radius: 20px;
  overflow: hidden;
  all: unset;
  box-sizing: border-box;
}

.frame .text-wrapper-3 {
  position: absolute;
  top: 13px;
  left: 57px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .sign-in {
  text-align: center;
  width: 308px;
  height: 466px;
  top: 0;
  left: 0;
}

.frame .sign-content-wrapper {
  height: 466px;
  background-color: #7e8ef1;
}

.frame .sign-content {
  position: relative;
  width: 213px;
  height: 160px;
  top: 153px;
  left: 48px;
}

.frame .text {
  position: absolute;
  width: 213px;
  height: 82px;
  top: 0;
  left: 0;
}

.frame .text-wrapper-4 {
  top: -1px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .p {
  position: absolute;
  width: 212px;
  top: 47px;
  left: 1px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16.8px;
}

.frame .div-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 158px;
  height: 39px;
  top: 316px;
  left: 35px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid;
  border-color: #000000;
}

.frame .text-wrapper-5 {
  all: unset;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  font-size: 10px;
}
