:root {
  --blue: #6db9ef;
  --red: #e74c3c;
  --yellow: #ffc436;
  --white: #fff;
  --dark-white: #ddd;
  --black: #222;
  --light-color: #777;
  --border: 0.2rem solid var(--black);
}

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
  scroll-behavior: smooth;
  stop-opacity: 7rem;
}

section {
  margin: 0 auto;
  max-width: 80vw;
  padding: 2rem;
}

.body {
  min-height: 70vh;
}

.title {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: var(--black);
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-flow: column;
  background-color: var(--black);
  min-height: 20rem;
}

.heading h3 {
  font-size: 5rem;
  color: var(--white);
  text-transform: capitalize;
}

.heading p {
  font-size: 2.3rem;
  color: var(--light-color);
}

.heading p a {
  color: var(--blue);
}

.heading p a:hover {
  text-decoration: underline;
  color: var(--white);
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--white);
  border-bottom: var(--border);
}

.header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header .flex .logo {
  font-size: 2.5rem;
  color: var(--black);
}

.header .flex .navbar a {
  font-size: 2rem;
  color: var(--black);
  margin: 70px;
}

.header .flex .navbar a:hover {
  color: var(--blue);
  text-decoration: underline;
}

.header .flex .icons>* {
  margin-left: 1.5rem;
  font-size: 2.5rem;
  color: var(--black);
  cursor: pointer;
}

.header .flex .icons>*:hover {
  color: var(--blue);
}

.header .flex .icons span {
  font-size: 2rem;
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  background: var(--dark-white);
}

footer .content {
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .content p,
a {
  color: var(--black);
}

footer .content .box {
  width: 33%;
  transition: all 0.4s ease;
}

footer .content .topic {
  font-size: 22px;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 16px;
}

footer .content p {
  text-align: justify;
}

footer .content .lower .topic {
  margin: 24px 0 5px 0;
}

footer .content .lower i {
  padding-right: 16px;
}

footer .content .middle {
  padding-left: 80px;
}

footer .content .middle a {
  line-height: 32px;
}

footer .content .right input[type="text"] {
  height: 45px;
  width: 100%;
  outline: none;
  color: var(--black);
  background: var(--white);
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}

footer .content .right input[type="submit"] {
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}

.content .right input[type="submit"]:hover {
  background: none;
  color: #eb2f06;
}

footer .content .media-icons a {
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid var(--black);
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}

.content .media-icons a:hover {
  border-color: #eb2f06;
}

footer .bottom {
  width: 100%;
  text-align: right;
  color: var(--black);
  padding: 0 40px 5px 0;
}

footer .bottom a {
  color: #eb2f06;
}

footer a {
  transition: all 0.3s ease;
}

footer a:hover {
  color: #eb2f06;
}

@media (max-width: 1100px) {
  footer .content .middle {
    padding-left: 50px;
  }
}

@media (max-width: 950px) {
  footer .content .box {
    width: 50%;
  }

  .content .right {
    margin-top: 40px;
  }
}

@media (max-width: 560px) {
  footer {
    position: relative;
  }

  footer .content .box {
    width: 100%;
    margin-top: 30px;
  }

  footer .content .middle {
    padding-left: 0;
  }
}